<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770170351144-3g7urbrnfovnm5bt79fesdkv06r5p3r9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770170351144-3g7urbrnfovnm5bt79fesdkv06r5p3r9</string>
	<key>API_KEY</key>
	<string>AIzaSyAKe7Df7tIsKbdsnZjJfL2waq-lA2yfRS8</string>
	<key>GCM_SENDER_ID</key>
	<string>770170351144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sm.navigationapp</string>
	<key>PROJECT_ID</key>
	<string>navigationapp-b7641</string>
	<key>STORAGE_BUCKET</key>
	<string>navigationapp-b7641.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770170351144:ios:e2166fab86e6d9ea968f1d</string>
</dict>
</plist>